node_modules
*.DS_Store
built/
node_modules/
test-zapps/
zapps/Escrow/docker-compose.yaml
zapps/Escrow/starlight-members-pubkeys/.env
zapps/Escrow/starlight-deployer/.env
zapps/Escrow/starlight-deployer/node_modules/
zapps/Escrow/starlight-deployer/artifacts/
zapps/Escrow/starlight-deployer/cache/
zapps/Escrow/starlight-deployer/contracts/

